body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0px;
}

h1 {
    font-size: 48px;
    color: #3e4cca;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-position: center; 
    background-size: fill; 
}

hr {
    width: 500px;
}

#errors {
    color: rgb(219, 127, 66);
}

#board {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
h3,h2 {
    display: inline-block;
    margin-right: 5px;
}

.tile {
    width: 48px; 
    height: 48px;
    border: 1px solid lightgray;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 450px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.number {
    width: 44px; 
    height: 44px;
    border: 1px solid black;
    margin: 2px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: rgb(78, 130, 197);
}

.tile-start {
    background-color: whitesmoke;
}

.horizontal-line {
    border-bottom: 1px solid rgb(78, 130, 197);
}

.vertical-line {
    border-right: 1px solid rgb(78, 130, 197);
}


/* Add this style for the button */
.glow-on-hover {
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background: #000000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #186c81, #58b2c9);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #ffffff
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3e4cca;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
}

/* Add styles for overlay/background */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Add styles for buttons */
.modal-buttons {
    text-align: center;
    margin: 0px 20px 20px 20px;
}

.modal-buttons button {
    margin: 0 10px;
    padding: 20x 20px;
    cursor: pointer;

    /* Button styles */
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    color: rgb(78, 130, 197);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 5px 5px 20px;
}

.modal-buttons button:before {
    content: '';
    background: linear-gradient(45deg, #186c81, #58b2c9,);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.modal-buttons button:active {
    color: #ffffff;
}

.modal-buttons button:active:after {
    background: transparent;
}

.modal-buttons button:hover:before {
    opacity: 1;
}

.modal-buttons button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #646363;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.words{
    font-size: 16px;
}

.hidden {
    display: none;
    position: absolute;
    right: 4221px;
}

#toggleRulesButton{
    font-size: 16px;
}


#rulesContainer {
    max-width: 600px; 
    margin: 0 auto; 
}

.words {
    padding: 10px;
}